/*
--------------------------------------------------------
# Vars/Externals
--------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display:400,700&display=swap');

:root {
  --font-family-headings: 'Playfair Display', Times, Georgia, serif;
  --font-family-base: 'Lato', Helvetica, Arial, sans-serif;
  --theme-color-primary: #46bcb7;
  --theme-color-secondary: #ff715b;
  --theme-color-tertiary: #031D44;
  --theme-color-neutral: #BAC1B8;
  --background-blur: 30px;
}

/*
--------------------------------------------------------
# Setup
--------------------------------------------------------
*/

html {
  font-size: 16px;
  line-height: 1;
}

body {
  font-family: var(--font-family-base);
  color: #333;
  background: var(--theme-color-neutral);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
--------------------------------------------------------
# Type/Fonts
--------------------------------------------------------
*/

p {
  font-family: var(--font-family-base);
  font-size: 1rem;
  line-height: 1.25;
}
h1, h2, h3, h4, h5 {
  font-family: var(--font-family-headings);
  margin-bottom: .7rem;
}
ul.plain {
  font-size: 1.25rem;
  line-height: 1.25;
  list-style: none;
}
table.simple {
  border-spacing: 0;
  border-collapse: collapse;
}
table.simple tr td {
  line-height: 1.25;
  padding: .2rem;
}
table.simple tr:nth-child(even) td {
  background: #efefef;
}

/*
--------------------------------------------------------
# Links
--------------------------------------------------------
*/

a {
  font-size: 1.25rem;
  line-height: 1.25;
  text-decoration: none;
  color: #0072ac;
}
a:after {
  content: " →";
}

/*
--------------------------------------------------------
# Buttons
--------------------------------------------------------
*/

.btn {
  font-size: .7rem;
  text-align: center;
  background: var(--theme-color-secondary);
  padding: .5rem 2rem;
  border: 0;
  transition: all 0.20s ease-in-out;
  cursor: pointer;
  margin: 1rem 0 0;
  border-radius: 2px;
}
.btn:hover {
  background: #d7d7d7;
}
.btn:active {
  background: #fff;
  color: #000;
}

/*
--------------------------------------------------------
# Blocks
--------------------------------------------------------
*/

.wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.page {
  background: #fff;
  margin: 4rem 4rem 1rem;
  box-shadow: 0 30px 60px rgba(0,0,0,0.4);
  max-width: 1200px;
}

.intro {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 65vh;
}

.intro__copy {
  padding: 4rem 2rem 2rem;
  grid-column: 1 / 3;
  position: relative;
  z-index: 3;
  display: flex;
  flex-flow: row wrap;
}
.intro__copy .top-text {
  align-self: flex-start;
}
.intro__copy .bottom-text {
  align-self: flex-end;
  color: var(--theme-color-secondary);
}

.intro__copy h1 {
  font-size: 7rem;
}

.intro__image {
  padding: 0;
  grid-column: 3 / 7;
  height: 100%;
  background: #d7d7d7;
  overflow: hidden;
}
.intro__image img {
  display: block;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.roadblock {
  padding: 2rem;
  text-align: center;
  background: var(--theme-color-tertiary);
  color: #fff;
}

.flex-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.flex-grid__cards {
  padding: 2rem 1rem;
  grid-column: 1 / 7;
  display: flex;
  flex-flow: row nowrap;
}
.flex-grid__cards .card {
  padding: 1rem;
  flex: 1;
}
.flex-grid__copy {
  padding: 2rem;
  grid-column: 7 / 9;
  display: flex;
  background: var(--theme-color-tertiary);
  color: #fff;
}
.flex-grid__copy p {
  color: rgba(255,255,255,0.3);
}
.flex-grid__copy aside {
  align-self: center;
  justify-self: center;
}

footer {
  padding: 1rem 1rem 2rem;
  margin: auto;
  width: 90vw;
  max-width: 1200px;
}

footer p {
  font-size: .8rem;
  line-height: 1.5;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 1401px) {
}