/*
--------------------------------------------------------
# Vars/Externals
--------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');

:root {
  --font-family-headings: 'Playfair Display', Times, Georgia, serif;
  --font-family-base: Times, Georgia, serif;
  --theme-color-primary: #46bcb7;
  --theme-color-secondary: #ff715b;
  --theme-color-tertiary: #4c5454;
}

/*
--------------------------------------------------------
# Setup
--------------------------------------------------------
*/

html {
  font-size: 16px;
  line-height: 1;
}

body {
  font-family: var(--font-family-base);
  color: #333;
  background: var(--theme-color-primary) url('../images/giantsteps/nyc_skyline_bg.png') -50vh center no-repeat;
  background-attachment: fixed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
--------------------------------------------------------
# Type/Fonts
--------------------------------------------------------
*/

p {
  font-family: var(--font-family-base);
  font-size: 1rem;
  line-height: 1.25;
}
h1, h2, h3, h4, h5 {
  font-family: var(--font-family-headings);
  line-height: 1.25;
  margin-bottom: .5rem;
}
h1 {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1.25rem;
}
h2 {
  font-size: 3.25rem;
}
h3 {
  font-size: 2.75rem;
}
h4 {
  font-size: 2.25rem;
}
h5 {
  font-size: 2rem;
}
ul.plain {
  font-size: 1.25rem;
  line-height: 1.25;
  list-style: none;
}
table.simple {
  border-spacing: 0;
  border-collapse: collapse;
}
table.simple tr td {
  line-height: 1.25;
  padding: .2rem;
}
table.simple tr:nth-child(even) td {
  background: #efefef;
}

/*
--------------------------------------------------------
# Links
--------------------------------------------------------
*/

a {
  font-size: 1.25rem;
  line-height: 1.25;
  text-decoration: none;
  color: #0072ac;
}
a:after {
  content: " →";
}

/*
--------------------------------------------------------
# Buttons
--------------------------------------------------------
*/

.btn {
  border-radius: 100px;
  font-size: 1rem;
  text-align: center;
  background: transparent;
  padding: 1rem 2rem;
  border: 2px solid #333;
  transition: all 0.20s ease-in-out;
  cursor: pointer;
  margin: 2rem 0;
}
.btn:hover {
  background: #d7d7d7;
}
.btn:active {
  background: #fff;
  color: #000;
}

/*
--------------------------------------------------------
# Blocks
--------------------------------------------------------
*/

.hero {
  padding: 8rem 0;
}

.wrapper {
  width: 80vw;
  padding: 0 4rem 4rem;
  margin: auto;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}
.item {
  padding: 2rem;
  background: rgba(255,255,255,0.3);
}
.item--larger {
  grid-column: 1 / span 2;
}
footer {
  padding: 4rem;
  margin: auto;
  width: 80vw;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100vw;
    padding: 1rem;
  }
  .grid {
    flex-flow: column wrap;
  }
  .group {
    flex-flow: row wrap;
  }
  .item {
    width: 100%;
  }
  .item:nth-child(odd) {
    margin-right: 0;
  }
  footer {
    padding: 2rem;
    margin-top: 3rem;
  }
}