<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/css/cupertino.css">
  <title>Theme: Cupertino</title>
</head>
<body>
  <div class="wrapper">

    <header class="hero">
      <h1>Building with ARKit 3</h1>
      <h2>Get ready for the latest advances in augmented reality.</h2>
      <h2 class="ghost">June 5, 2019</h2>
      <a href="#" class="standout">Register Here</a>
    </header>

    <div class="flex-grid">

      <div class="item item--no_padding">
        <img src="https://source.unsplash.com/D97n3LR5uN8/600x600" alt="sample image from unsplash">
      </div>
      <div class="item">
        <h3>What</h3>
        <p>
          Build unparalleled augmented reality experiences for hundreds of millions of users on iOS, the biggest AR platform in the world. With ARKit 3, Reality Composer — a powerful new app that lets you easily create AR experiences, and RealityKit — a new high-level augmented reality framework, there’s never been a better time to delve into AR.
        </p>
        <button class="btn">Register Here</button>
      </div>

      <div class="item item--no_padding">
        <img src="https://source.unsplash.com/B4GwdlgTh5Y/600x600" alt="sample image from unsplash">
      </div>
      <div class="item">
        <h3>Where</h3>
        <ul class="plain">
          <li>1 Apple Park Way</li>
          <li>Cupertino, CA 95014</li>
          <li><a href="#">Map</a></li>
        </ul>
        <button class="btn">Register Here</button>
      </div>

      <div class="item item--no_padding">
        <img src="https://source.unsplash.com/jjhvyxm34nY/600x600" alt="sample image from unsplash">
      </div>
      <div class="item">
        <h3>Agenda</h3>
        <table class="simple">
          <tr>
            <td width="50%">8 am</td><td>Check In/Registration</td>
          </tr>
          <tr>
            <td>9-10 am</td><td>Breakfast</td>
          </tr>
          <tr>
            <td>11 am</td><td>Keynote</td>
          </tr>
          <tr>
            <td>12 pm</td><td>Lunch</td>
          </tr>
          <tr>
            <td>1-4 pm</td><td>Working Session</td>
          </tr>
        </table>

        <button class="btn">Register Here</button>
      </div>

    </div>
  </div>
  <footer>
    <h4>Copyright &copy; 2019 Your Company, Co.</h4>
    <h5>Built with Event Farm | <a href="#">Learn more</a></h5>
  </footer>
</body>
</html>
