<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/css/memphis.css">
  <title>Theme: Memphis</title>
</head>
<body>

  <header>
    <aside>
      <h1>Grand Opening</h1>
      <h3>Paloma + Hawthorne <br/>Hermosa Beach</h3>
      <button class="btn">Register Now</button>
    </aside>
    <figure>
      <img src="https://static-2.gumroad.com/res/gumroad/1211634803146/asset_previews/3d90cce0c4bb7dacf0fa08e5b841122e/retina/holding-phone-monochrome-thumbnail.png">
    </figure>
  </header>

  <main>
    <section>
      <h2 class="is-centered">See the latest in fashion <br/>in our newest location.</h2>
    </section>

    <div class="flex-grid">
      <div class="col">
        <h4>What</h4>
        <p>
          Build unparalleled augmented reality experiences for hundreds of millions of users on iOS, the biggest AR platform in the world. With ARKit 3, Reality Composer — a powerful new app that lets you easily create AR experiences, and RealityKit — a new high-level augmented reality framework, there’s never been a better time to delve into AR.
        </p>
      </div>
      <div class="col">
        <h4>Agenda</h4>
        <table class="simple">
          <tr>
            <td width="50%">8 am</td><td>Check In/Registration</td>
          </tr>
          <tr>
            <td>9-10 am</td><td>Breakfast</td>
          </tr>
          <tr>
            <td>11 am</td><td>Keynote</td>
          </tr>
          <tr>
            <td>12 pm</td><td>Lunch</td>
          </tr>
          <tr>
            <td>1-4 pm</td><td>Working Session</td>
          </tr>
        </table>
      </div>
      <div class="col">
        <h4>Where</h4>
        <ul class="plain">
          <li>2513 Grant Ave</li>
          <li>Redondo Beach, CA 90278</li>
          <li><a href="#">Map</a></li>
        </ul>
      </div>
    </div>

    <footer>
      <p>Copyright &copy; 2019 Your Company, Co.</p>
      <p>Built with Event Farm | <a href="#">Learn more</a></p>
    </footer>
  </main>

</body>
</html>
