<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/css/minima.css">
  <title>Theme: Minima</title>
</head>
<body>

  <!-- navigation block -->
  <nav class="navigate">
    <aside class="navigate__logo">
      <img src="../assets/images/minima/cannes-lions-logo.svg" alt="Cannes Lions logo">
    </aside>
    <ul class="navigate__links">
      <li>Home</li>
      <li>Events</li>
      <li>Register</li>
      <li>Contact</li>
    </ul>
    <aside class="navigate__actions">
      <button class="btn btn--small">Register</button>
    </aside>
  </nav>

  <!-- intro/header -->
  <header class="intro">
    <div class="intro__image">
      <img src="https://source.unsplash.com/rj8fMHNPXbg/1200x1200">
    </div>
    <div class="intro__copy">
      <h1>Cannes Lions</h1>
      <h3>66th Annual Festival of Creativity</h3>
    </div>
  </header>

  <!-- roadblock -->
  <div class="roadblock">
    <h2>Doors open in 3 days. Register today &rarr;</h2>
  </div>

  <div class="wrapper">
    <!-- main content -->
    <main>
      <div class="grid speakers">
        <h3 class="speakers__headline">
          Don't miss these speakers, live and in person.
        </h3>
        <figure class="speakers__person">
          <div class="speakers__person--avatar">
            <img src="https://i.pravatar.cc/150?img=10">
          </div>
          <h3>Speaker Name</h3>
        </figure>
        <figure class="speakers__person">
          <div class="speakers__person--avatar">
            <img src="https://i.pravatar.cc/150?img=20">
          </div>
          <h3>Speaker Name</h3>
        </figure>
        <figure class="speakers__person">
          <div class="speakers__person--avatar">
            <img src="https://i.pravatar.cc/150?img=25">
          </div>
          <h3>Speaker Name</h3>
        </figure>
        <figure class="speakers__person">
          <div class="speakers__person--avatar">
            <img src="https://i.pravatar.cc/150?img=35">
          </div>
          <h3>Speaker Name</h3>
        </figure>
        <figure class="speakers__person">
          <div class="speakers__person--avatar">
            <img src="https://i.pravatar.cc/150?img=13">
          </div>
          <h3>Speaker Name</h3>
        </figure>
        <figure class="speakers__person">
          <div class="speakers__person--avatar">
            <img src="https://i.pravatar.cc/150?img=24">
          </div>
          <h3>Speaker Name</h3>
        </figure>
        <figure class="speakers__person">
          <div class="speakers__person--avatar">
            <img src="https://i.pravatar.cc/150?img=30">
          </div>
          <h3>Speaker Name</h3>
        </figure>
        <figure class="speakers__person">
          <div class="speakers__person--avatar">
            <img src="https://i.pravatar.cc/150?img=67">
          </div>
          <h3>Speaker Name</h3>
        </figure>
      </div>

      <div class="grid explainer">
        <div class="explainer__video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/IQcf_JvQpJE?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="explainer__text">
          <h2>What is Cannes Lions?</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero esse, nostrum laborum suscipit eveniet sit quis qui minima adipisci voluptatem consectetur ea aperiam eaque, repellendus impedit placeat, odit beatae voluptate!
          </p>
          <button class="btn btn--outline">Register</button>
        </div>
      </div>
    </main>

    <footer>
      <p>Copyright &copy; 2019 Your Company, Co.</p>
      <p>Built with Event Farm | <a href="#">Learn more</a></p>
    </footer>
  </div>

</body>
</html>
