<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../assets/css/tripleaught.css">
  <title>Theme: Triple Aught</title>
</head>
<body>
  <main class="wrapper">

    <header>
      <figure>
        <h1>Daly Motors</h1>
        <h3>Sign &amp; Drive 2020</h3>
      </figure>
    </header>

    <section class="intro">
      <h4>The largest selection and best service in Grosse Pointe. Now with test drives by appointment.</h4>
      <button class="btn btn--centered">Register Here</button>
    </section>

    <div class="flex-grid">
      <div class="col">
        <h3>When</h3>
        <h4>Aug. 1-25, 2019</h4>
        <h4>Appointments between 11 am &amp; 4 pm</h4>
      </div>
      <div class="col">
        <h3>What</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. At accusantium impedit molestiae ea, possimus culpa quaerat modi dolores magnam animi. Voluptates temporibus, ex. Recusandae laborum voluptates aperiam excepturi minus nobis!
        </p>
      </div>
      <div class="col">
        <h3>Where</h3>
        <ul class="plain">
          <li>Daly Automotive</li>
          <li>1000 Chrysler Dr.</li>
          <li>Auburn Hills, MI 48326</li>
          <li><a href="#">Map</a></li>
        </ul>
      </div>
    </div>

  </main>

  <footer>
    <p>Copyright &copy; 2019 Your Company, Co.</p>
    <p>Built with Event Farm | <a href="#">Learn more</a></p>
  </footer>
</body>
</html>
